/* header */
.header-btn-anc {
  display: none;
}

.header {
  background-color: #576f35;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo-icon1 {
  margin-right: 4px;
}

.header-logo-icon1,
.header-logo-icon2 {
  fill: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  transition: transform 0.3s ease;
}

.header-logo-icon1:hover,
.header-logo-icon1:focus {
  transform: scale(1.1);
}

.header-logo-icon2:hover,
.header-logo-icon2:focus {
  transform: scale(1.1);
}

.menu {
  cursor: pointer;
  fill: white;
  width: 32px;
  height: 32px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.menu:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .menu {
    margin-left: 450px;
  }

  .header-block {
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1280px) {
  /* header */

  .menu {
    display: none;
  }

  .header-btn-block {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
  }

  .header-btn-anc {
    cursor: pointer;
    display: flex;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.4);
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #fbfbfb;
    text-align: center;
    font-family: "Inter Tight";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    background-color: transparent;
    transition: transform 0.3s ease;
  }

  .shop-now {
    background-color: #7a3145;
    border: none;
    transition: transform 0.3s ease;
  }

  .header-btn-anc:hover,
  .header-btn-anc:focus,
  .shop-now:hover,
  .shop-now:focus {
    transform: scale(1.1);
  }
}

/* mobile menu */
.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #7a3145;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-close-btn {
  background-color: transparent;
  border: none;
  fill: white;
  margin-left: auto;
  display: block;
  margin-bottom: 88px;
}

.mob-close-icon {
  fill: white;
}

.mob-btn-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.mob-btn-anc {
  cursor: pointer;
  display: flex;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.4);
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #fbfbfb;
  text-align: center;
  font-family: "Inter Tight";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  background-color: transparent;
}

.mob-btn-anc:hover,
.mob-btn-anc:focus {
  background-color: #fbfbfb;
  color: #7a3145;
}

.mob-shop-btn {
  background-color: #fbfbfb;
  color: #7a3145;
}
.mob-shop-btn:hover,
.mob-shop-btn:focus {
  background-color: #576f35;
  color: #fbfbfb;
}

.is-open {
  z-index: 1001;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* hero */

.hero {
  background-color: #576f35;
}

.hero-container {
  background-image: linear-gradient(
      0deg,
      rgba(20, 20, 20, 0.2) 0%,
      rgba(20, 20, 20, 0.2) 100%
    ),
    url(../images/hero/harvest-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 370px;
}

.hero-text-block {
  margin-bottom: 40px;
}

.hero-title {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(../images/hero/harvest-mob.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
  }

  .hero-text-block {
    margin-bottom: 50px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .hero-container {
    background-image: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(../images/hero/harvest-tab.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 539px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          0deg,
          rgba(20, 20, 20, 0.2) 0%,
          rgba(20, 20, 20, 0.2) 100%
        ),
        url(../images/hero/harvest-tab-2.jpg);
      height: 539px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {
  }

  .hero-text-block {
    margin-bottom: 50px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 128px;
    width: 502px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    width: 472px;
    padding-right: 30px;
  }
  .hero-block {
    background-image: linear-gradient(
        0deg,
        rgba(20, 20, 20, 0.2) 0%,
        rgba(20, 20, 20, 0.2) 100%
      ),
      url(../images/hero/harvest-desk.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 650px 800px;
    max-height: 800px;
    display: flex;
    gap: 28px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-block {
      background-image: linear-gradient(
          0deg,
          rgba(20, 20, 20, 0.2) 0%,
          rgba(20, 20, 20, 0.2) 100%
        ),
        url(../images/hero/harvest-desk-2.jpg);
      background-size: 650px 800px;
    }
  }
}

/* how it works */

.work {
  background-color: #576f35;
}

.work-picture-block {
  padding: 40px 20px;
  background-color: #7a3145;
  display: flex;
  justify-content: center;
}

.work-picture {
  position: relative;
}

.work-picture img {
  height: 450px;
  width: 100%;
  border-radius: 30px;
  display: block;
  object-fit: cover;
  overflow: hidden;
}

.work-picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3));
}

.work-instruction {
  padding: 80px 20px;
  background-color: #576f35;
  display: flex;
  justify-content: center;
}

.work-instruction-block {
  max-width: 335px;
  width: 100%;
}

.work-instruction-title {
  color: #fbfbfb;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 335px;
}

.work-instruction-title span {
  color: rgba(251, 251, 251, 0.3);
}

.work-instruction-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 40px;
  max-width: 335px;
}

.work-instruction-list {
  counter-reset: number 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work-instruction-item {
  background-color: #fbfbfb;
  border-radius: 15px;
  padding: 12px 25px 12px 24px;
  height: 76px;
  max-width: 335px;
}

.work-instruction-step {
  counter-increment: number;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
}

.work-instruction-step-text {
}

.work-instruction-step span {
  color: #141414;
  font-weight: 700;
}

.work-instruction-step::before {
  color: #fbfbfb;
  content: counter(number);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 5px solid #d5bfc5;
  background-color: #7a3145;
  font-size: 20px;
  font-weight: 600;
  animation: scaleInNumber 0.5s ease forwards;
}

@keyframes scaleInNumber {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (min-width: 375px) {
  .work-picture img {
    object-fit: cover;
    object-position: top;
    height: 450px;
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .work-picture-block {
    padding: 100px 64px;
  }

  .work-picture img {
    height: 640px;
    width: 640px;
    object-position: top right;
  }

  .work-instruction {
    padding: 100px 159px;
  }

  .work-instruction-block {
    max-width: 450px;
  }

  .work-instruction-title {
    max-width: 450px;
    font-size: 32px;
    margin-bottom: 25px;
  }

  .work-instruction-text {
    max-width: 450px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }

  .work-instruction-item {
    max-width: 450px;
  }

  .work-instruction-step {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .container-work {
    display: flex;
    justify-content: center;
  }

  .work-picture-block {
    padding: 100px 100px;
  }

  .work-picture img {
    height: 559px;
    width: 430px;
    object-position: top;
  }

  .work-instruction {
    padding: 100px 100px 160px 100px;
  }
}

/* advertisement */

.advertisement {
  background-color: #fbfbfb;
  padding: 80px 0;
}

.advertisement-text {
  color: #141414;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.advertisement-text span {
  display: block;
  color: #fbfbfb;
  background-color: #576f35;
  border-radius: 12px;
  margin: 0 -10px;
  padding: 3px 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: flash 2s ease-out forwards;
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.advertisement-text span:hover,
.advertisement-text span:focus {
  background-color: #7a3145;
}

@media screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 0;
  }

  .advertisement-text {
    font-size: 64px;
    line-height: 1.09;
  }

  .advertisement-text span {
    padding: 8px 16px;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement-text {
    font-size: 76px;
    line-height: 1.05;
  }

  .advertisement-text span {
    margin: 0 -13px;
    display: inline-block;
  }
}

/* vegetables */

.vegetables {
  background-color: #7a3145;
  padding: 80px 0;
}

.vegetables-title {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.02;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.vegetables-title span {
  color: rgba(251, 251, 251, 0.3);
}

.vegetables-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 30px;
}

.vegetables-list {
}

.vegetables-item {
  width: 100%;
  padding: 32px 26px;
  border-radius: 40px;
  background-color: #fbfbfb;
  margin-bottom: 20px;
}

.vegetables-subtitle {
  color: #7a3145;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.42px;
  margin-bottom: 12px;
}

.vegetables-price {
  color: #141414;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 14px;
  animation: fadeInNumber 0.5s ease forwards;
}

@keyframes fadeInNumber {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.vegetables-picture {
  transition: transform 0.3s ease;
}

.vegetables-picture:hover,
.vegetables-picture:focus {
  transform: scale(1.1);
}

.block-basket {
  display: flex;
  align-items: center;
  gap: 8px;
}

.decrease,
.increase {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #576f3561;
}

.basket {
  fill: #576f35;
}

.basket {
  transition: transform 0.3s ease;
}

.basket:hover,
.basket:focus {
  transform: scale(1.3);
  fill: #7a3145;
}

@media screen and (min-width: 768px) {
  .vegetables {
    padding: 100px 0;
  }

  .vegetables-title {
    max-width: 508px;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 25px;
  }

  .vegetables-text {
    max-width: 626px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }

  .vegetables-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 28px;
  }

  .vegetables-item {
    padding: 32px 30px;
    width: calc((100% - 20px) / 2);
    margin-bottom: 0;
  }

  .vegetables-subtitle {
    font-size: 32px;
    margin-bottom: 12px;
  }

  .vegetables-price {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .vegetables-title {
    font-size: 64px;
  }

  .vegetables-item {
    padding: 32px 32px;
    width: calc((100% - 42px) / 3);
  }
}

/* reviews */

.reviews {
  background-color: #fbfbfb;
  padding: 80px 0;
}

.reviews-title-block {
  margin-bottom: 40px;
}

.reviews-title {
  color: #141414;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.reviews-title-part span {
  color: #576f35;
}

.reviews-text {
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.reviews-feabback-block {
}

.reviews-person1 {
  border-radius: 24px;
  border: 1px solid rgba(122, 49, 69, 0.3);
  background: #fbfbfb;
  padding: 20px 16px;
}

.reviews-picture {
  border-radius: 100px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.reviews-picture:hover,
.reviews-picture:focus {
  transform: scale(1.5);
}

.reviews-name {
  color: #040306;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-top: 24px;
}

.reviews-feabback {
  color: rgba(4, 3, 6, 0.4);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  padding: 8px 7px 18px 7px;
}

.reviews-person2 {
  border-radius: 24px;
  border: 1px solid rgba(122, 49, 69, 0.3);
  background: #fbfbfb;
  padding: 20px 16px;
  display: none;
}

.reviews-person3 {
  border-radius: 24px;
  border: 1px solid rgba(122, 49, 69, 0.3);
  background: #fbfbfb;
  padding: 20px 16px;
  display: none;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding: 100px 0;
  }

  .reviews-title-block {
    margin-bottom: 50px;
  }

  .reviews-title {
    width: 553px;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 25px;
  }

  .reviews-text {
    width: 553px;
    font-size: 16px;
    line-height: 1.25;
  }

  .reviews-feabback-block {
    display: flex;
    gap: 18px;
  }

  .reviews-person1 {
    width: 100%;
    padding: 20px 20px;
  }

  .reviews-person2 {
    width: 100%;
    display: block;
    padding: 20px 20px;
  }

  .reviews-name {
    font-size: 18px;
    line-height: 2;
  }

  .reviews-feabback {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  /* header */

  .reviews-feabback-block {
    display: flex;
    gap: 25px;
  }

  .reviews-person3 {
    width: 100%;
    display: block;
    padding: 20px 20px;
  }
}

/* your_order */

.your-order-section {
  background-color: #7a3145;
  padding-top: 80px;
  padding-bottom: 80px;
}

.your-order {
}

.title-block-your-order {
  margin-bottom: 40px;
}

.title-your-order {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  max-width: 335px;
  margin-bottom: 29px;
}

.title-part span {
  color: rgba(251, 251, 251, 0.3);
}

.text-your-order {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  max-width: 335px;
}
/* form your-order */

.form-your-order-block {
  background-color: #fbfbfb;
  border-radius: 30px;
  max-width: 335px;
  padding: 40px 20px;
  margin-bottom: 20px;
}
.form-subtitle-your-order {
  color: #141414;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 295px;
}
.color-from-us {
  color: #7a3145;
}

.color-the-form {
  color: #576f35;
}

.form-your-order {
}
.block-input-your-order {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 15px;
}
.input-your-order {
  width: 100%;
  border-radius: 30px;
  border: 1px solid rgba(20, 20, 20, 0.2);

  color: #141414;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.input-your-order::placeholder {
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.input-your-order:focus,
.input-your-order:hover {
  border: 1px solid #7a3145;
}

.input-your-order:not(:placeholder-shown):invalid {
  border: 1px solid #e74a3b;
}

.input-your-order:not(:placeholder-shown):valid {
  border: 1px solid #3cbc81;
}

.text-valid,
.text-invalid {
  font-size: 14px;
  padding-left: 16px;
  margin-top: 4px;
  display: none;
  font-weight: 500;
  line-height: 1.29;
}

.text-valid {
  color: #3cbc81;
}

.text-invalid {
  color: #e74a3b;
}
.input-your-order:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}

.input-your-order:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.user-text-your-order {
  display: flex;
}
.comment-textarea-your-order {
  border-radius: 15px;
  border: 1px solid rgba(20, 20, 20, 0.2);
  width: 100%;
  height: 91px;
  padding-top: 14px;
  padding-left: 16px;
  resize: none;

  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.comment-textarea-your-order::placeholder {
  color: #141414;
}

.comment-textarea-your-order:hover,
.comment-textarea-your-order:focus {
  border: 1px solid #7a3145;
}

.form-send-btn-your-order {
  border: none;
  border-radius: 30px;
  background: #576f35;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;

  color: #fbfbfb;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s ease;
}

.form-send-btn-your-order:hover,
.form-send-btn-your-order:focus {
  transform: scale(1.1);
}

.link-block-your-order {
  padding: 40px 20px;
  max-width: 335px;
  border-radius: 30px;
  background: #576f35;
}
.picture-your-order {
}
.your-order-picture {
  border-radius: 15px;
  background: transparent;
  margin-bottom: 20px;
}
.text-link-block-your-order {
  color: rgba(251, 251, 251, 0.5);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}
.list-link-your-order {
  color: #fbfbfb;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: -0.02em;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link-your-order {
  display: inline-block;
  transition: transform 0.3s ease;
}

.soc-link-your-order:hover,
.soc-link-your-order:focus {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .your-order-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .form-link-block {
    padding-left: 70px;
    padding-right: 70px;
  }

  .title-block-your-order {
    padding-right: 96px;
    padding-left: 32px;
    margin-bottom: 50px;
  }

  .title-your-order {
    font-size: 64px;
    line-height: 1;
    max-width: 640px;
    margin-bottom: 25px;
  }

  .text-your-order {
    font-size: 16px;
    line-height: 1.25;
    max-width: 640px;
  }

  .form-your-order-block {
    max-width: 628px;
    padding: 50px 100px;
    margin-bottom: 25px;
  }

  .comment-textarea-your-order {
  }

  .form-subtitle-your-order {
    margin-bottom: 50px;
    max-width: 428px;
  }

  .input-your-order {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .input-your-order::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }

  .block-input-your-order {
    font-size: 16px;
    line-height: 1.25;
  }

  .comment-textarea-your-order {
    font-size: 16px;
    line-height: 1.25;
  }

  .form-send-btn-your-order {
    font-size: 18px;
    line-height: 1.11;
    margin-top: 25px;
  }

  .link-block-your-order {
    padding: 50px;
    max-width: 628px;
  }

  .your-order-picture {
    margin-bottom: 50px;
  }

  .text-link-block-your-order {
    font-size: 18px;
    line-height: 1.11;
  }

  .list-link-your-order {
    font-size: 32px;
    line-height: 1;
    gap: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .form-link-block {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }

  .title-block-your-order {
    padding-right: 0px;
    padding-left: 0px;
  }

  .title-your-order {
    max-width: 751px;
  }

  .text-your-order {
    max-width: 751px;
  }
  .form-link-block {
    padding-left: 0px;
    padding-right: 0px;
  }

  .form-your-order-block {
    width: 100%;
    padding: 50px;
    margin-bottom: 0;
  }

  .link-block-your-order {
    width: 100%;
    padding: 50px;
    margin-bottom: 0;
  }
}

/* footer */

.footer {
  background-color: #7a3145;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-logo-link {
}

.footer-logo-icon1 {
  margin-right: 4px;
}

.footer-logo-icon1,
.footer-logo-icon2 {
  fill: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s ease;
}

.footer-logo-icon1:hover,
.footer-logo-icon1:focus {
  transform: scale(1.1);
}

.footer-logo-icon2:hover,
.footer-logo-icon2:focus {
  transform: scale(1.1);
}

.footer-text {
  margin-bottom: 40px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.footer-anchor {
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer-anchor-nav {
}
.footer-anchor-list {
}
.footer-anchor-item {
}
.footer-anchor-link {
  color: #fbfbfb;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  transition: transform 0.3s ease;
}

.footer-anchor-link:hover,
.footer-anchor-linkr:focus {
  transform: scale(1.1);
}

.footer-anchor-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-contacts {
  margin-bottom: 80px;
}

.footer-contacts-address {
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-contacts-item {
}

.footer-contacts-link {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  transition: transform 0.3s ease;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  transform: scale(1.1);
}

.footer-privacy-cookie-inf {
  display: flex;
  align-items: center;
}
.footer-privacy-cookie-inf-list {
  color: rgba(251, 251, 251, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.02em;
  display: flex;
}

.footer-privacy-cookie-inf-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-privacy-cookie-inf-link {
}

.footer-privacy-cookie-inf-link:hover,
.footer-privacy-cookie-inf-link:focus {
  transform: scale(1.1);
}

.footer-privacy-cookie-inf-separator {
  margin: 0 5px;
}

.footer-copyright-inf {
  color: rgba(251, 251, 251, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-logo {
    margin-bottom: 25px;
  }

  .footer-logo-icon1 {
    width: 18px;
    height: 18px;
  }

  .footer-logo-icon2 {
    width: 168px;
    height: 15px;
  }

  .footer-logo-icon1 {
    margin-right: 8px;
  }

  .footer-block {
    display: flex;
  }

  .footer-text {
    width: 265px;
    font-size: 16px;
    line-height: 2;
  }

  .footer-logo-text {
    margin-right: 224px;
  }

  .footer-anchor-contacts {
  }

  .footer-anchor {
    margin-top: 0px;
    margin-bottom: 64px;
  }

  .footer-anchor-link {
    font-size: 32px;
  }

  .footer-anchor-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .footer-contacts-list {
    gap: 25px;
  }

  .footer-contacts-link {
    font-size: 18px;
  }
  .footer-privacy-cookie-inf-list {
    font-size: 18px;
    line-height: 2;
  }

  .footer-copyright-inf {
    font-size: 18px;
    line-height: 2;
  }
}

@media screen and (min-width: 1280px) {
  .footer-logo-text {
    margin-right: 302px;
  }

  .footer-anchor-contacts {
    display: flex;
    flex-wrap: wrap;
    column-gap: 121px;
  }

  .footer-privacy-cookie-inf-separator {
    margin: 0 8px;
  }
}
